body{
  color: #293647;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.bg-fej {
  background-position: center;
  height: 400px;

}

.bg-fej h1{
  color: black;
  font-size: 250%;
  text-transform: uppercase;
  text-decoration: underline overline;
  font-weight: bold;
}
.bg-fej h3{
  color: black;
  text-transform: uppercase;
  text-decoration: underline overline;
  font-weight: bold;
}


h3{
  margin: 25px 0px;
}

a {
  font-style: italic;
  font-weight: bold;
  color: darkblue;
}

#szel, #mag{
  margin: 0px auto 15px;
}

#kalkGomb {
  margin: 20px auto;
}

#valasz{
  visibility:hidden;
}


#fogado-table {
  margin: auto;
  margin-top: 15px;
  border-collapse: collapse;
  width: 90%;
}



#custom-cell {
  background-color: rgb(188, 171, 120);
  border-bottom: 1px solid rgb(255, 255, 255);
}


#tablebox{
  width: 100%;
  display: flex;
  gap: 130px;
  justify-content: center;
  align-items: end;
}

#kihasz-table {
  margin: auto;
  margin-top: 15px;
  border-collapse: collapse;
}


#foglaltsag-table {
  margin: auto;
  margin-top: 15px;
  border-collapse: collapse;

}

#topimg {
  width: 100%;
  height: auto;
  max-height: 400px;
  object-fit: cover;
}

.contentbox {
  width: 30%;
  display: inline-block;
  margin: 5px;
  margin-top: 30px;
  height: auto;
}


#contbx1 {
background-color: rgb(188, 171, 120);
vertical-align: top;
}

#contbx2 {
 
  vertical-align: top;
}

#contbx3 {
  background-color: rgb(188, 171, 120);
  vertical-align: top;
}

p{
  padding: 15px;
}



#ketagyimg {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
}

#hollokoimg {
  width: 100%;
  height: auto;
  max-height: 300px;
  object-fit: cover;
}

#box2adjust {
  height: 65px;
}

#box3adjust {
  height: 375px;
}

